<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<script th:src="@{/global/js/formValidation.js}" defer></script>
	<link rel="stylesheet" th:href="@{/global/css/global.css}">
	<link rel="stylesheet" th:href="@{/global/css/formStyle.css}">
	<link rel="stylesheet" th:href="@{/global/css/editProfileTemplate.css}">
	<title>Edit Profile</title>
</head>

<body>

	<div class="main-content">
	
		<div class="header">
    		<img th:src="@{/home/images/logo.png}" alt="company logo" onclick="location.href='/company'">
    		<div class="button-container">
    			<button onclick="location.href='/changepassword'">Change Password</button>
    			<button onclick="location.href='/userdeleted'">Delete Account</button>
    		</div>
    	</div>
    		<div class="container">
		
      		<div class="msg-container">
      			<h1>Edit Profile Information</h1>

				<div th:if="${param.success}">
			    	<p class="success-message">Update Successful!</p>
		    	</div>
		    	
				<div th:if="${param.usernameexists}">
			    	<p class="error-message">Username is Taken</p>
		    	</div>
		    	
		    	<div th:if="${param.emailexists}">
			    	<p class="error-message">Email Address is Taken</p>
		    	</div>   
      		</div>

			<div class="forms-container">

				<form id="Form" th:action="@{/editcompany}" th:object="${userDto}" method="post">
					
					<label for="username">User Name:</label><br>
					<input type="text" name="username" id="username" th:field=${user.username} required><br>
    
					<label for="email">Email:</label><br>
					<input type="email" name="email" id="email" th:field=${user.email} pattern="(?!(^[.-].*|[^@]*[.-]@|.*\.{2,}.*)|^.{254}.)([a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@)(?!-.*|.*-\.)([a-zA-Z0-9-]{1,63}\.)+[a-zA-Z]{2,15}" required><br>

					<label for="orgName">Organization Name:</label><br>
					<input type="text" name="orgName" id="orgName" th:field=${user.orgName} required><br>
		
					<label for="concern">Areas of Concern</label><br>
					<textarea th:field=${user.concern} wrap="hard" rows="8" cols="24" maxlength="200" required></textarea><br>
		
					<input id="Submit" type="submit" value="Update">
				</form>
			</div>
		</div>
	</div>
</body>
</html>