<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<script th:src="@{/global/js/formValidation.js}" defer></script>
	<link rel="stylesheet" th:href="@{/global/css/global.css}">
	<link rel="stylesheet" th:href="@{/global/css/formStyle.css}">
	<link rel="stylesheet" th:href="@{/global/css/signinTemplate.css}">
	
	<title>Sign In</title>
</head>

<body>

	<div class="main-content">
	
		<img th:src="@{/home/images/logo.png}" alt="company logo" onclick="location.href='/home'">
		
		<div class="container">
		
			<div class="msg-container">
				<h1>Sign In</h1>
	
				<div th:if="${param.error}">
					<p class="error-message">Invalid Username or Password!</p>
				</div>
	
				<div th:if="${param.logout}">
					<p class="success-message">Logout Successful!</p>
				</div>
			</div>
		
	    	<div class="form-container">
	      		<form id="Form" th:action="@{/signin}" th:object="${signInDto}" method="post">
	
		      		<label for="username">User Name:</label><br>
		      		<input type="text" th:field=*{username} required><br>
		
		      		<label for="password">Password:</label><br>
		      		<input type="password" th:field=*{password} required><br>
		
		      		<input id="Submit" type="submit" value="Sign In">
	      		</form>
      		</div>
			
			<div class="empty">
      			<p>Don't have an account?</p>
      			<p>Create a company account <a th:href="@{/companysignup}">Sign up</a></p>
      			<p>Create a volunteer account <a th:href="@{/volunteersignup}">Sign up</a></p>
      			<p><a th:href="@{/forgotpassword}">Forgot Password</a></p>
			</div>
			
	  </div>
	  
	</div>
	
</body>

</html>